<!DOCTYPE html>
<html>
<%- include head %>
<body data-twitter-auth="<%= isTwitterAuth %>" data-facebook-auth="<%= isFacebookAuth %>" data-instagram-auth="<%= isInstagramAuth %>" data-dropbox-auth="<%= isDropboxAuth %>">
  <div id="main">
    
    <section id="login">
    
      <header>
        <h1>Forgot your Password?</h1>
        <p class="login-copy">Please enter your email <br>address and we'll have a look.</p>
      </header>
      
      <% if(hasErrors){ %>
        <p class="error-heading">Error!</p>
        <p class="error-copy"><%- error_message %></p>
      <% }%>
    
      <form action="/account/forgot" enctype="application/x-www-form-urlencoded" method="post">
        <fieldset>
          <label for='forgot-email-address'>Email Address</label>
          <input type='email' class="login-form" name='forgot-email-address' id="forgot-email-address">
          <input class="button pipe" type='submit' value='Find It!'>
        </fieldset>
        
      </form>
    
      <%- include debug %>
      
    </section>
    
  </div> <!-- end #main -->
  
  <iframe src="" id="downloader" class="none"></iframe>
  
	<div id="overlay"></div>
  
  <%- include scripts %>
</body>
<!--

  Oh hi, there.  You're viewing source so you're probably somewhat
  nerdy, geeky or you got here by accident.

  Nonetheless, did you know that PhotoPipe is 100% open source?
  Fuck yeah, it is.

  Go here:  http://github.com/joemccann/photopipe

  Don't see a service (like Flickr, 500px, etc.) on here?  Create
  a plugin and contribute.  If it's cool and it works, I'll merge
  it in and host it here!	

-->
</html>