<!DOCTYPE html>
<html>
<%- include head %>
<body class="out" data-twitter-auth="<%= isTwitterAuth %>" data-facebook-auth="<%= isFacebookAuth %>" data-instagram-auth="<%= isInstagramAuth %>" data-dropbox-auth="<%= isDropboxAuth %>">
    
  <section id="lead">
    <header id="header-home">
      <hgroup>
        <h1><a href="/">PhotoPipe</a></h1>
        <h2>Take Control of <em>Your</em> Photos</h2>
      </hgroup>
    </header>
  </section>
  
  <section id="forgot-password" class="section-form">
    
    <div class="login left">

      <h3 class="login-header">Forgot Your Password?</h3>
      <hr>
  
      <p class="login-copy">Please enter your email address and we'll have a look.</p>
    
      <% if(hasErrors){ %>
      <div class="form-item-wrapper">
        <p class="error-heading">Whoops!</p>
        <p class="error-copy"><%- error_message %></p>
      </div>
      <% }%>
  
      <form action="/account/forgot" enctype="application/x-www-form-urlencoded" method="post">
        <fieldset>
          <div class="form-item-wrapper">
            <label for='forgot_email_address'>Email Address</label>
            <input type='email' class="input-item" autofocus name='forgot_email_address' id="forgot_email_address">
          </div>
          <div class="form-item-wrapper">
            <input class="button pipe form-item go" type="submit" value="Find It!">
          </div>
        </fieldset>
      </form>

    </div>
    
  </section>
  
  <%- include debug %>
  
  <%- include scripts %>
</body>
<!--

  Oh hi, there.  You're viewing source so you're probably somewhat
  nerdy, geeky or you got here by accident.

  Nonetheless, did you know that PhotoPipe is 100% open source?
  Fuck yeah, it is.

  Go here:  http://github.com/joemccann/photopipe

  Don't see a service (like Flickr, 500px, etc.) on here?  Create
  a plugin and contribute.  If it's cool and it works, I'll merge
  it in and host it here!	

-->
</html>