<!DOCTYPE html>
<html>
<%- include head %>
<body>
  <div id="overlay"></div>
  <div id="main">
    
    <nav>
      <h1><a href="/">Photo<span class="cool">Pipe</span></a></h1>
      <div id="spin"></div>
      <hr />
    </nav>
    
    <!-- Step 1: Pick a photo source. -->
    
    <section id="step-one">
      <p class="steps">Step 1</p>
      <p class="steps-copy">Select your photo source:</p>
      <ul id="photo-to-pipe">
        <li><a id="facebook" data-auth="<%= isFacebookAuth %>" href="/facebook/get_photo_albums" class="button-facebook"></a></li>
        <li><a id="instagram" data-auth="<%= isInstagramAuth %>" href="/instagram/get_user_recent_photos" class="button-instagram"></a></li>        <!--<li><a id="twitter" data-auth="<%= isTwitterAuth %>" href="/twitter/get_user_recent_photos" class="button-connect-twitter"></a></li> -->
      </ul>  
    </section>
    
    <!-- Step 2: Pick a photo or gallery (in facebook case). -->
    
    <section id="step-two">

      <section class="gallery" id="photo-picker-twitter">
        <p class="steps">Step 2</p>
        <p class="steps-copy">Select the photo you want to pipe:</p>
        
        <div id="one-up-twitter" class="one-up">
          <span class="close-one-up" data-icon="&#x2297;"></span>

          <div class="use-photo-container">
            <a class="button save" id="twitter-use-photo">Click To Pipe This Photo</a>
          </div>

        </div>
        <div class="load-more">
          <a class="button add" id="twitter-load-more">Load More Photos</a>
        </div>

        
      </section>

      <section class="gallery" id="gallery-picker-facebook">
        <!-- We have to select from a gallery first -->
        <p class="steps">Step 2</p>
        <p class="steps-copy">Select the photo gallery:</p>
        
        <div id="facebook-gallery" class="none">
        </div>
        
      </section>

      <section class="gallery" id="photo-picker-instagram">
        
        <p class="steps">Step 2</p>
        <p class="steps-copy">Select the photo you want to pipe:</p>
        
        <div id="one-up-instagram" class="one-up">
          <span class="close-one-up" data-icon="&#x2297;"></span>

          <div class="use-photo-container">
            <a class="button save use-photo" id="instagram-use-photo">This One!</a>
          </div>

        </div>

        <div class="load-more">
          <a class="button add" data-pagination="" id="instagram-load-more" href="/instagram/get_next_page_user_recent_photos">LOAD MORE PHOTOS</a>
        </div>

      </section>

    </section>
    
    <!-- Step 3 Pick a destination or a photo (in fb case) -->
    
    <section id="step-three">
      
      <div id="photo-picker-facebook" class="gallery">
        
        <p class="steps">Step 3</p>
        <p class="steps-copy">Select the photo you want to pipe:</p>
        
        <div id="one-up-facebook" class="one-up">
          <span class="close-one-up" data-icon="&#x2297;"></span>

          <div class="use-photo-container">
            <a class="button save use-photo" id="facebook-use-photo">This One!</a>
          </div>

        </div>

        <div class="load-more">
          <a class="button add" data-pagination="" id="facebook-load-more" href="/facebook/get_next_page_user_photos">LOAD MORE PHOTOS</a>
        </div>
      
      </div> <!-- end #one-up-facebook-wrapper -->
      
      <div id="step-three-destination-wrapper" class="none">
      
        <p class="steps">Step 3</p>
        <p class="steps-copy">Select your photo destination:</p>
        <%- include destinations %>
        <%- include form %>
      </div> <!-- #destination-wrapper -->
        
    </section>

    <!-- Step 4 Pick a destination (in fb case) -->
    
    <section id="step-four">
      
      <div id="step-four-destination-wrapper">
      
        <p class="steps">Step 4</p>
        <p class="steps-copy">Select your photo destination:</p>
        <ul id="photo-to-pipe">
          <li><a class="facebook-destination button-facebook" href="#"></a></li>
          <li><a class="twitter-destination button-twitter" href="#"></a></li>
          <li><a class="download-destination button-download" href="/download/file"></a>
          </li>
        </ul>
        <%- include form %>
      
      </div> <!-- #destination-wrapper -->
        
    </section>
    
    <section id="debug">
      <p>Is Instagram Authenticated? <%- isInstagramAuth ? "<span class='cool'>yes</span>" : "no" %> </p>
      <p>Is Facebook Authenticated? <%- isFacebookAuth ? "<span class='cool'>yes</span>" : "no" %> </p>
      <p>Is Twitter Authenticated? <%- isTwitterAuth ? "<span class='cool'>yes</span>" : "no" %> </p>
    </section>
    
  </div> <!-- end #main -->
  <iframe src="" id="downloader" class="none"></iframe>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/spin.min.js"></script>
  <script type="text/javascript" src="/js/pipe.js"></script>
</body>
</html>