<!DOCTYPE html>
<html>
<%- include head %>
<body data-twitter-auth="<%= isTwitterAuth %>" data-facebook-auth="<%= isFacebookAuth %>" data-instagram-auth="<%= isInstagramAuth %>" data-dropbox-auth="<%= isDropboxAuth %>">
  <div id="main">
    
    <section id="login">
    
      <header>
        <h1>Login to Photo<span class="cool">Pipe</span></h1>
      </header>
      
      <% if(hasErrors){ %>
        <p class="error-heading">Error!</p>
        <p class="error-copy"><%- error_message %></p>
      <% }%>
    
      <form action="/account/login" enctype="application/x-www-form-urlencoded" method="post">
        <fieldset>
          <label for='login-email-address'>Email Address</label>
          <input type='email' class="login-form" name='login-email-address' id="login-email-address">
          <label for='login-password'>Password</label>
          <input type='password' class="login-form" name='login-password' id="login-password" value=''>
          <input class="button pipe" type='submit' value='Login'>
          <div class="login-copy">
            <p>
              <a href="/account/forgot" class="bold hit-target">Forgot your password?</a>
            </p>
          </div>
          <hr>
          <div class="no-account-copy">
            <p>Don't have an account yet?</p>
            <p><a class="bold hit-target" href="/account/create">Create one now! &rarr;</a></p>
          </div>

        </fieldset>
        
      </form>
    
      <%- include debug %>
      
    </section>
    
  </div> <!-- end #main -->
  
  <iframe src="" id="downloader" class="none"></iframe>
  
	<div id="overlay"></div>
  
  <%- include scripts %>
</body>
<!--

  Oh hi, there.  You're viewing source so you're probably somewhat
  nerdy, geeky or you got here by accident.

  Nonetheless, did you know that PhotoPipe is 100% open source?
  Fuck yeah, it is.

  Go here:  http://github.com/joemccann/photopipe

  Don't see a service (like Flickr, 500px, etc.) on here?  Create
  a plugin and contribute.  If it's cool and it works, I'll merge
  it in and host it here!	

-->
</html>