<!DOCTYPE html>
<html>
<%- include head %>
<body data-twitter-auth="<%= isTwitterAuth %>" data-facebook-auth="<%= isFacebookAuth %>" data-instagram-auth="<%= isInstagramAuth %>" data-dropbox-auth="<%= isDropboxAuth %>" class="dashboard">

    <%- include nav %>
    
    <section class="main box" id="dashboard">
    
      <section class="notification">
        <h3>Hey there <span class="cool"><%- username %></span>!</h3>
        <!-- Determine messages to say here -->
        <div class="notification-container">
          <%- include user_notification_message %>
        </div>
      </section>
      
      <section class="third-parties">
        <h3>Sync up some of these photo sources and destinations:</h3>
        <div class="third-parties-container">
          <%- include photo_sources_and_destinations %>
        </div>
        
        <section class="pipe-start">
          
          <div id="pipe-thumbnails">

          </div>

        </section>
        
      </section> <!-- /.third-parties -->

    
    </section>
    
  <!-- <%- include debug %> -->
  
  <div id="overlay"></div>
  
  <%- include scripts %>
</body>
</html>