<!DOCTYPE html>
<html>
<%- include head %>
<body data-twitter-auth="<%= isTwitterAuth %>" data-facebook-auth="<%= isFacebookAuth %>" data-instagram-auth="<%= isInstagramAuth %>" data-dropbox-auth="<%= isDropboxAuth %>" class="dashboard">

    <%- include nav %>
    
    <section class="main" id="dashboard">
    
      <section class="notification">
        <p>Hey there <%- username %>!</p>
      </section>
    
    </section>
    
    <!-- <%- include debug %> -->
  
  <div id="overlay"></div>
  
  <%- include scripts %>
</body>
</html>