<!DOCTYPE html>
<html>
<%- include head %>
<body data-twitter-auth="<%= isTwitterAuth %>" data-facebook-auth="<%= isFacebookAuth %>" data-instagram-auth="<%= isInstagramAuth %>" data-dropbox-auth="<%= isDropboxAuth %>" class="dashboard">

    <%- include nav %>
    
    <section class="main box" id="dashboard">
    
      <section class="notification">
        <p>Hey there <%- username %>!</p>
      </section>
      
      <section class="third-parties">
        <p>Sync up some of these photo sources and destinations.</p>
        <%- include photo_sources_and_destinations %>
      </section>
    
    </section>
    
    <!-- <%- include debug %> -->
  
  <div id="overlay"></div>
  
  <%- include scripts %>
</body>
</html>